.flexContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    height: 18vh;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bold;
}

.flexContainer > .item {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}
