.dot {
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.dot:hover {
    transition: background-color 0.5s ease;
    background-color: #28dec9;
    cursor: pointer;
}
